//*************************
// $$ GALLERY
//**************************

/* gallery height, as percentage of width */
.gallery {
  padding-bottom: 40%;
}

/* viewport inherit size from gallery */
.gallery .flickity-viewport {
  position: absolute;
  width: 100%;
}

.gallery-cell {
  width: 100%;
  height: 100%;
  background: #8C8;
  counter-increment: gallery-cell;
  overflow: hidden;
  
    img {
      max-width:100%;
      vertical-align: middle;
  }
  .gallery-cell-overlay {
    width: 100%;
    position: absolute;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
  }
}

// /* cell number */
// .gallery-cell:before {
//   display: block;
//   text-align: center;
//   content: counter(gallery-cell);
//   line-height: 200px;
//   font-size: 80px;
//   color: white;
// }

.flickity-page-dots {
  bottom: 10px;
}

